<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Frijole" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="../favicon.png" rel="icon">
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/js/scripts.js"></script>

    <title>BREAD</title>

  </head>

  <body>

    <div class="mainContent">

      <div class="text">
        <h1>Register for TOAST!!!</h1>
        <h2>You want toast. You've got other things to do than wait around until it's finished. Go do other things. We'll tell you when it's done.</h2>
      </div>

      <form class="form-signin"  role="form">
        <input type="name" id="txtName" name="name" class="form-control" placeholder="Name" required autofocus>
        <input type="tel" id="txtPhoneNumber" name="phoneNumber" class="form-control" placeholder="Phone#" required>
        <input type="submit" class="btn btn-lg btn-default btn-block" value="Register">
      </form>

    </div>

  </body>
</html>
